# Виртуальное окружение
venv/
env/
.env
.venv-onnx-test/
**/.venv*
**/venv/
**/build
**/dist
# Кэш питона
**/__pycache__/
*.pyc
# Папка с релизом
**/release/

# База данных (если не хотите пушить логи нарушений)
*.sqlite
*.db

# Папки с фото и видео
static/violations/
dataset/
runs/
*.mp4
*.jpg
*.png

# Веса нейросетей (Они слишком тяжелые для Git!)
*.pt
*.onnx
.venv-onnx-test/Lib/site-packages/certifi-2026.4.22.dist-info/RECORD
