# Виртуальное окружение
venv/
env/
.env

# Кэш питона
__pycache__/
*.pyc

# База данных (если не хотите пушить логи нарушений)
*.sqlite
*.db

# Папки с фото и видео
static/violations/
dataset/
runs/
*.mp4
*.jpg
*.png

# Веса нейросетей (Они слишком тяжелые для Git!)
*.pt
*.onnx